<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="TestServer" value="localhost"></add>
		<add key="TestPort" value="9160"></add>
		<add key="TestKeySpace" value="Testing"></add>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
