<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TestServer" value="localhost"></add>
		<add key="TestPort" value="9160"></add>
		<add key="TestKeySpace" value="Testing"></add>		
    <add key="TestKeySpaceCql3" value="testingcql3"></add>
	</appSettings>
</configuration>